@font-face {
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    src: local('Amaranth'), url(http://themes.googleusercontent.com/static/fonts/amaranth/v3/imfGW7soN-ntDfo1a_OKNPesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Belleza';
    font-style: normal;
    font-weight: 400;
    src: local('Belleza'), local('Belleza-Regular'), url(http://themes.googleusercontent.com/static/fonts/belleza/v1/0PM4qwfASmAB2sOtSkd0vQ.ttf) format('truetype');
  }

  *{
      font-family: 'Amaranth'
  }

  body{
      background-image: url('../images/EnvBg.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
  }
p{
  text-align: justify;
}

.customBlock{
  border-left: 5px solid #ad9521 !important;
}


img.icon {
    margin-left: 3%;
    padding: 2px;
    width: 4%; 
}

.bullets{
  width: 2%; 
  margin-left: 1%;
}

.list > span{
  margin: 5px;  
}

.tooltip-inner {
  text-align: justify;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 6px;
  background-color: #505050;
  font-size: 14px;
  width:400px !important;
  max-width: 500px !important;
}

.item >img{
  height:350px !important;
  width:600px !important;
}

.carousel-caption > p{
  margin-top:15%;
  color:black;
  padding: 15px;
  opacity: 0.9;
  background-color: lightgray;
  border-radius: 5px;
}
/**/
/* Style all font awesome icons */
.social-icons{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 30px;
  border-radius: 15px;
}
  
  .fa:hover {
      opacity: 0.5;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-yahoo {
    background: #6b1dc9;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  